.table {
    border-collapse: collapse;
    border-bottom: 1px solid #111111;
    width: 100%;
}

.th {
    background-color: #F5F8FA;
    border-color: #B6C8DA;
    border-style: solid;
    border-width: 0 0 1px 0;
    
    + .th {
        border-left-width: 1px;
    }
}

.cell {
    padding: 2px 5px;
}

.td + .td {
    border-left: 1px solid rgba(182, 200, 218, 0.333);
}

.controlBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.infoBar {
    margin-top: 2px;
}

.searchBar {
    margin-bottom: 2px;
}

.pagination {
    margin-left: auto;
}

.searchWrap {
    margin-left: auto;
    
    input {
        border-radius: 5px;
        margin-left: 5px;
        width: 175px;
        border-width: 1px;
        border-style: solid;
        border-color: #9A9A9A #EEEEEE #EEEEEE #9A9A9A
    }
}

.pagination {
    margin: -2px;
}

.button {
    padding: 5px 10px;
    display: inline-block;
    margin: 2px;
    text-decoration: none;
    color: black;
    border-radius: 2px;
    border: 1px solid transparent;
    
    &:not(.disabled):hover {
        border-color: #111111;
        background: linear-gradient(to bottom, #585858 0%, #111111 100%);
        color: white;
    }
    
    &.disabled {
        cursor: default;
        color: #666;
    }
    
    &.current {
        cursor: default;
        color: #333333;
        border: 1px solid #979797;
        background: #fff linear-gradient(to bottom, white 0%, gainsboro 100%);
    }
}

.empty {
    padding: 10px 0;
    text-align: center;
    background-color: #f6f6f6;
    color: #333;
}


.even {
    background-color: #FFF;
}

.odd {
    background-color: #F5F6FD
}