.table {
    border-collapse: collapse;
    border-bottom: 1px solid #111111;
    width: 100%;
}

.th {
    background-color: #F5F8FA;
    border-width: 0 1px 1px 1px;
    border-color: #B6C8DA;
    border-style: solid;
    text-align: left;
 
    
    &:first-child {
        border-left: none;
    }
    &:last-child {
        border-right: 0;
    }
}

.cell {
    padding: 2px 5px;
}


.loadingRecordsCell {
    padding: 100px 0;
    text-align: center;
}