.icon {
    display: contents;
    > svg {
        height: 1em;
        fill: currentColor;
    }
}

td, th {
    &.center {
        text-align: center;
    }
    &.right {
        text-align: right;
    }
}

.active {
    color: #6DBB77;
}

.inactive {
    color: #E17970;
}

.star {
    color: #FFD76E;
}

.nostar {
    color: #929292;
}

td.mono {
    font-family: monospace;
}