.icon {
    display: contents;
    > svg {
        height: 1em;
        fill: currentColor;
    }
}

td, th {
    &.center {
        text-align: center;
    }
}

.active {
    color: #6DBB77;
}

.inactive {
    color: #E17970;
}